<div class="container">
  <div class="row">

    {{#each books}}
      <div class="card p-2 m-2" style="width: 14rem">
        <img
          class="card-img-top"
          src="{{this.image}}"
          alt="{{this.nameBook}}"
        />
        <div class="card-body">
          <h5 class="card-title">{{this.nameBook}}</h5>
          <p class="card-text">Genres:{{this.genres}}</p>
          <a href="{{this.urlDownload}}" class="btn btn-primary">Xem chi tiết</a>
        </div>
      </div>
    {{/each}}

  </div>
</div>